*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style-type: none; }

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%); }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background: var(--almost-white);
  font-family: "Epilogue", sans-serif;
  font-size: 1.5rem;
  color: var(--medium-gray); }
  @media screen and (max-width: 980px) {
    body {
      overflow-x: hidden; } }

* a {
  color: var(--medium-gray); }

.overlay {
  position: fixed;
  /* Sit on top of the page content */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */ }

.navigation {
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4.9vh; }
  .navigation-items {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    z-index: 10; }
    @media screen and (max-width: 980px) {
      .navigation-items {
        background-color: var(--almost-white);
        position: absolute;
        padding-top: 2rem;
        padding-left: 3rem;
        top: 0;
        right: 0px;
        width: 60%;
        height: 100vh;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        z-index: 4;
        transform: translateX(100%);
        transition: transform 0.5s ease-in; } }
  .navigation .logo {
    margin-right: 8rem;
    width: 10rem; }
  .navigation .nav-firstsection .first-list {
    display: flex; }
    .navigation .nav-firstsection .first-list > :not(:last-child) {
      margin-right: 6rem; }
      @media screen and (max-width: 980px) {
        .navigation .nav-firstsection .first-list > :not(:last-child) {
          margin-bottom: 3rem;
          margin-right: 2rem; } }
    @media screen and (max-width: 980px) {
      .navigation .nav-firstsection .first-list {
        margin-top: 8rem;
        flex-direction: column; } }
  .navigation .nav-secondsection .second-list {
    display: flex;
    align-items: center;
    transition: all 0.2s 0.2s ease-in-out; }
    .navigation .nav-secondsection .second-list > :not(:last-child) {
      margin-right: 6rem; }
    @media screen and (max-width: 980px) {
      .navigation .nav-secondsection .second-list {
        display: none; } }
  .navigation .nav-secondsection .register {
    border: 0.2rem solid var(--medium-gray);
    border-radius: 0.9rem;
    padding: 1rem 3rem;
    transition: all 0.2s 0.2s ease-in-out; }
  .navigation .nav-secondsection .register:hover {
    border: 0.25rem solid var(--medium-gray); }
  .navigation .nav-secondsection .arrow {
    margin-left: 0.7rem; }
  .navigation .features {
    position: relative; }
    .navigation .features-dd {
      display: none;
      position: absolute;
      top: 3.3rem;
      left: -9rem;
      padding: 3rem 3.2rem;
      height: 20rem;
      width: 18rem;
      background: #fff;
      border-radius: 2rem;
      box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 40px;
      transition: display 0.3s 5s ease-in-out; }
      @media screen and (max-width: 980px) {
        .navigation .features-dd {
          position: relative;
          background: var(--almost-white);
          top: 0rem;
          left: 0rem;
          height: 100%;
          width: 100%;
          border: none;
          border-radius: 0;
          box-shadow: none;
          padding: 3rem 2.5rem 0rem; } }
    .navigation .features-menu > :not(:last-child) {
      margin-bottom: 2rem; }
    .navigation .features .icon {
      margin-right: 1rem; }
  .navigation .company {
    position: relative;
    font-size: 1.6rem; }
    .navigation .company-dd {
      display: none;
      position: absolute;
      top: 3.3rem;
      left: -1rem;
      padding: 3.7rem 3.2rem;
      height: 15rem;
      width: 15rem;
      background: #fff;
      border-radius: 2rem;
      box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 40px; }
      @media screen and (max-width: 980px) {
        .navigation .company-dd {
          position: relative;
          background: var(--almost-white);
          top: 0rem;
          left: 0rem;
          height: 100%;
          width: 100%;
          border: none;
          border-radius: 0;
          box-shadow: none;
          padding: 3rem 3.2rem 0rem; } }
    .navigation .company-menu > :not(:last-child) {
      margin-bottom: 1.4rem; }
  .navigation .text {
    transition: all 0.1s 0.1s ease-in-out; }
    .navigation .text:hover {
      font-weight: 700; }
  .navigation .burger {
    display: none;
    z-index: 5;
    cursor: pointer; }
    @media screen and (max-width: 980px) {
      .navigation .burger {
        display: block; } }

.main {
  display: flex;
  height: 63rem;
  padding-top: 4rem; }
  .main .info {
    padding-left: 20rem;
    padding-top: 9rem;
    flex: 1;
    width: 0; }
    .main .info h1 {
      width: 85%;
      color: var(--almost-black);
      font-size: 8.5rem;
      font-weight: 700;
      margin-bottom: 4rem; }
    .main .info .main-p {
      line-height: 1.5;
      width: 65%;
      font-size: 1.7rem;
      margin-bottom: 4rem;
      word-spacing: 0.4rem; }
  .main .main-cta {
    font-size: 1.6rem;
    color: var(--almost-white);
    background: var(--almost-black);
    display: inline-block;
    border: 2px solid var(--almost-black);
    border-radius: 2rem;
    padding: 2rem 5rem;
    margin-bottom: 8rem;
    cursor: pointer; }
    .main .main-cta:hover {
      color: var(--almost-black);
      font-weight: bold;
      background: var(--almost-white); }
  .main .logos img {
    margin-right: 6rem;
    width: 7rem; }
  .main .image {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 0; }
    .main .image .hero {
      width: 65%;
      height: 100%; }

.mobile-active {
  transform: translateX(0%);
  box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 40px; }

.toggle {
  display: block; }
