// - Almost White: hsl(0, 0%, 98%)
// - Medium Gray: hsl(0, 0%, 41%)
// - Almost Black: hsl(0, 0%, 8%)

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background: var(--almost-white);

  font-family: "Epilogue", sans-serif;
  font-size: 1.5rem;
  // line-height: 1.5;
  color: var(--medium-gray);
  // max-width: 140.4rem;
  // margin: 0 5rem;
  @media screen and (max-width: 980px) {
    overflow-x: hidden;
  }
}
* a {
  color: var(--medium-gray);
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
